[package]
name = "terminal"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
host-api = { path = "../host-api" }
portable-pty = "0.8.1"
serde_json.workspace = true
tokio.workspace = true
uuid.workspace = true
